@media screen and (max-width: 1440px) {
    .logistica {
        font-size: 25px;
    }

    .sub-texto {
        font-size: 17px;
    }

    .intro-title {
        font-size: 4vh;
        margin-left: 1%;
    }

    .intro-subtitle {
        font-size: 3.1vh;
        margin: 5% 0 0 1%;
        max-width: 95%;
    }

    .btn-title {
        margin: 8% 0 0 1%;
        width: 65%;
        font-size: 3vh;
    }

    .intro-btn {
        width: 70px;
        height: 70px;
        margin-top: 8%;
    }

    .arrow-btn {
        width: 40%;
        height: 40%;
    }
}

@media screen and (max-width: 1024px) {

    /* nav e introducao */

    .nav-list {
        font-size: 2.5vh;
    }

    .nav-list li {
        font-size: 2.5vh;
    }

    .intro-title {
        font-size: 4vh;
        margin-left: 1%;
    }

    .intro-subtitle {
        font-size: 3.5vh;
        margin-left: 1%;
        max-width: 90%;
    }

    .btn-title {
        margin-left: 1%;
        width: 60%;
    }

    .intro-btn {
        width: 50px;
        height: 50px;
    }

    .arrow-btn {
        width: 38%;
        height: 38%;
    }

    .img-guy {
        width: 110%;
        margin: 10% 0 0 -10%;
    }
    
    /*cards*/

    .conteudo{
        display: grid;
        grid-template-columns: repeat(auto-fit, 230px);
        justify-content: center;
        justify-items: center;
        padding: 30px;
        margin-top: -30vh;
      }
      
      .box-1{
          background: rgba(0, 0, 0, 0.2);
          outline: #A5A5A5 0.1rem solid;
          border-radius: 20px;
          height: 240px;
          width: 200px;
          display: flex;
          align-items: center;
          margin: 20px;
          transition: 500ms ease-in-out;
      }
      
      .cont{
          text-align: left;
          padding: 20px;
          color: white;
      }
      
      .sub-texto{
          margin-top: 10px;
          font-size: 14px;
      }
      
      .logistica{
          margin-top: 20px;
          font-size: 20px;
      }
      
      .icon-1{
          width: 40px;
          color: #DCA900;
      }
      
      .box-1:hover{
          cursor: pointer;
          background: rgba(0, 0, 0, 0.5);
      }
}

@media screen and (max-width: 768px) {

    /* nav e introducao */

    .nav-list {
        font-size: 2.5vh;
    }

    .intro-title {
        font-size: 4vh;
        margin-left: 1%;
    }

    .intro-subtitle {
        font-size: 3vh;
        margin: 5% 0 0 1%;
        max-width: 95%;
    }

    .btn-title {
        margin: 8% 0 0 1%;
        width: 80%;
        font-size: 3vh;
    }

    .intro-btn {
        width: 56px;
        height: 56px;
        margin-top: 8%;
    }

    .arrow-btn {
        width: 40%;
        height: 40%;
    }

    .img-guy {
        width: 110%;
        margin: 10% 0 0 -10%;
    }

    /*cards*/

    .dicas-title {
        margin-top: 11vh;
    }

    .conteudo{
        display: grid;
        grid-template-columns: repeat(auto-fit, 160px);
        grid-gap: 22px;
        justify-content: center;
        justify-items: center;
        padding: 30px;
      }
      
      .box-1{
          background: rgba(0, 0, 0, 0.2);
          outline: #A5A5A5 0.1rem solid;
          border-radius: 20px;
          height: 200px;
          width: 160px;
          display: flex;
          align-items: center;
          margin: 20px;
          transition: 500ms ease-in-out;
      }
      
      .cont{
          text-align: left;
          padding: 20px;
          color: white;
      }
      
      .sub-texto{
          margin-top: 10px;
          font-size: 11px;
      }
      
      .logistica{
          margin-top: 20px;
          font-size: 20px;
      }
      
      .icon-1{
          width: 40px;
          color: #DCA900;
      }
      
      .box-1:hover{
          cursor: pointer;
          background: rgba(0, 0, 0, 0.5);
      }
}

@media screen and (max-width: 425px) {

    /* nav e introducao */

    .navbar {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        font-size: 2vh;
        margin: 2% 0 0 -16%;   
    }

    .introducao {
        display: flex;
        flex-direction: column;
        margin-top: 25vh;
    }

    .introducao-left {
        width: 100vw;
        z-index: 1;
    }

    .intro-title {
        font-size: 3.4vh;
        margin-left: 1%;
    }

    .intro-subtitle {
        font-size: 2.8vh;
        margin: 5% 0 0 1%;
        max-width: 85%;
    }

    .btn-title {
        margin: 8% 0 0 1%;
        width: 62%;
        font-size: 2.4vh;
    }

    .intro-btn {
        width: 48px;
        height: 48px;
        margin-top: 5vh;
    }

    .arrow-btn {
        width: 35%;
        height: 35%;
    }

    .img-guy {
        display: none;
        width: 130%;
        margin: -110% 0 0 50vw;
        z-index: -1;
    }

    /* cards */

    .dicas-title {
        margin: -15vh 0 0 2vw;
        font-size: 4.5vh;
        white-space: nowrap;
    }

    .conteudo {
        margin-top: 5vh;
    }

}

@media screen and (max-width: 375px) {

    /* nav e introducao */

    .navbar {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        font-size: 2vh;
        margin: 2% 0 0 -18%;   
    }

    .nav-list li {
        display: flex;
        white-space: nowrap;
    }

    .introducao {
        display: flex;
        flex-direction: column;
        margin-top: 30vh;
    }

    .introducao-left {
        width: 100vw;
    }

    .intro-title {
        font-size: 3.4vh;
        margin-left: 1%;
    }

    .intro-subtitle {
        font-size: 2.6vh;
        margin-left: 1%;
        max-width: 85%;
    }

    .btn-title {
        margin-left: 1%;
        width: 60%;
        font-size: 2.2vh;
    }

    .intro-btn {
        width: 48px;
        height: 48px;
    }

    .arrow-btn {
        width: 35%;
        height: 35%;
    }

    .img-guy {
        display: none;
        width: 130%;
        margin: -110% 0 0 52vw;
        z-index: -1;
        opacity: 0.5;
    }
}

@media screen and (max-width: 320px) {

    /* nav e introducao */

    .navbar {
        margin-top: 12px;
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1.8vh;
        margin: 2% 0 0 -18%;   
    }

    .nav-list li {
        display: flex;
        white-space: nowrap;
    }

    .introducao {
        display: flex;
        flex-direction: column;
        margin-top: 26vh;
    }

    .introducao-left {
        width: 100vw;
    }

    .intro-title {
        font-size: 3.4vh;
        margin-left: -2%;
        max-width: 100%;
    }

    .intro-subtitle {
        font-size: 2.3vh;
        margin-left: -2%;
        max-width: 90%;
    }

    .btn-block {
        display: flex;
        align-items: center;
    }

    .btn-title {
        margin-left: -2%;
        width: 72%;
        font-size: 2.4vh;
        padding: 8px;
    }

    .intro-btn {
        margin-bottom: 1vh;
        width: 42px;
        height: 42px;
    }

    .arrow-btn {
        width: 30%;
        height: 30%;
    }

    .img-guy {
        display: none;
        width: 130%;
        margin: -110% 0 0 52vw;
        z-index: -1;
        opacity: 0.5;
    }
}